@use "../../global/index" as *;

/* -------------------------------------
        c-cta-btn
-----------------------------------------*/
.c-cta-btn {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 300px;
  border: 1px solid $main-bg;
  border-radius: 3px;
  background-color: rgba($main-bg, 0.9);
  color: $color-black01;
  font-weight: $bold;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding: 19px 40px 19px 25px;
  transition: 0.25s;
  @include mq(md) {
    padding: 17px 40px 17px 30px;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 12px;
    height: 24px;
    background-color: $color-black01;
    mask: url(../img/icon/icon_right.svg) no-repeat center/cover;
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-color 0.25s;
  }

  &:hover, &:focus-visible {
    background-color: $color-black01;
    color: $main-bg;

    &::after {
      background-color: $main-bg;
    }

    .c-cta-btn__text::before {
      background-color: $main-bg;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    gap: 10px;

    &::before {
      content: '';
      display: block;
      flex-shrink: 0;
      width: 21px;
      height: 21px;
      background-color: $color-black01;
      mask: url(../img/icon/icon_cutlery.svg) no-repeat center/cover;
      background-size: contain;
      background-repeat: no-repeat;
      transition: background-color 0.25s;
    }
  }
}
