@use "../../global/index" as *;

/* -------------------------------------
        c-more-btn
-----------------------------------------*/
.c-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 300px;
  border: 1px solid $color-black01;
  border-radius: 3px;
  background-color: $color-black01;
  color: #fff;
  font-weight: $bold;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding: 20px 40px 20px 15px;
  transition: 0.25s;
  @include mq(md) {
    max-width: 280px;
    font-size: 1.5rem;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 12px;
    height: 24px;
    background-color: #fff;
    mask: url(../img/icon/icon_right.svg) no-repeat center/cover;
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-color 0.25s;
    @include mq(md) {
      display: none;
    }
  }

  &:hover, &:focus-visible {
    background-color: #fff;
    color: $color-black01;

    &::after {
      background-color: $color-black01;
    }
  }
}
