@use "../global/index" as *;

/* -------------------------------------
        l-footer
-----------------------------------------*/
.l-footer {


  &__inner {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    @include mq(md) {
      max-width: 640px;
    }
  }

  &__content {
    display: flex;
    gap: 80px;
    padding: 80px 0;
    @include mq(md) {
      flex-direction: column;
      gap: 24px;
      padding: 40px 0;
    }
  }

  &__company {
    flex: 1;
  }

  &__logo {
    display: block;
    max-width: 262px;
    line-height: 1;
    @include mq(md) {
      max-width: 294px;
    }

    img {
      width: 100%;
    }
  }

  &__address {
    color: #787878;
    font-size: 1.3rem;
    line-height: 2;
    letter-spacing: 0.03em;
    margin-top: 20px;
    @include mq(md) {
      color: $color-black01;
      font-size: 1.4rem;
      line-height: 1.5;
      margin-top: 24px;
    }
  }

  &__navs {
    display: flex;
    gap: 80px;
    @include mq(md) {
      flex-direction: column;
      gap: 25px;
    }
  }

  &__nav-title {
    font-weight: $bold;
    line-height: 1.2;
    letter-spacing: 0.03em;
    @include mq(md) {
      font-size: 1.5rem;
    }
  }

  &__nav-list {
    margin-top: 16px;
    @include mq(md) {
      margin-top: 15px;
    }
  }

  &__nav-item {

    &:first-child {
      .l-footer__nav-link {
        padding-top: 0;
      }
    }

    &:last-child {
      .l-footer__nav-link {
        padding-bottom: 0;
      }
    }
  }

  &__nav-link {
    display: block;
    color: #787878;
    font-size: 1.3rem;
    line-height: 1.2;
    letter-spacing: 0.03em;
    padding: 6px 0;
    transition: opacity 0.25s;
    @include mq(md) {
      color: $color-black01;
      font-size: 1.3rem;
      padding: 8px 0;
    }

    &:hover, &:focus-visible {
      opacity: $hover-opacity;
    }
  }

  &__copyright {
    background-color: $color-black01;
    padding: 20px 0;
    @include mq(md) {
      background-color: $main-color;
      padding: 18px 0;
    }
  }

  &__copyright-text {
    color: #fff;
    font-family: $second-font-family;
    font-size: 1.2rem;
    font-weight: $medium;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    @include mq(md) {
      font-size: 1rem;
      font-weight: $regular;
    }
  }
}
