@use "../global/index" as *;

/* -------------------------------------
        l-header
-----------------------------------------*/
.l-header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 92px;
  background-color: $main-bg;
  z-index: 20;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 0.25s;
  @include mq(md) {
    height: 70px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-right: 60px;
    padding-left: 60px;
    margin: 0 auto;
    @include mq(lg) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    min-width: 0;
  }

  &__logo a {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 40;
    &:hover, &:focus-visible {
      opacity: 0.7;
      transition: 0.3s;
    }
  }

  &__logo-main {
    display: block;
    max-width: 312px;
    width: 100%;
    line-height: 1;
    @include mq(md) {
      max-width: 266px;
      margin-right: 20px;
    }
  }

  // &__logo-text {
  //   color: #666;
  //   font-size: 1.7rem;
  // }

  &__container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 28px;
    @include mq(header) {
      display: none;
    }
  }

  &__tel {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
  }

  &__tel-link {
    display: flex;
    align-items: center;
    font-family: $second-font-family;
    font-size: 2.2rem;
    font-weight: $bold;
    letter-spacing: 0.03em;
    white-space: nowrap;
    transition: 0.25s;

    &::before {
      content: '';
      display: block;
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      background-color: $color-black01;
      mask: url(../img/icon/icon_phone.svg) no-repeat center/cover;
      background-size: contain;
      background-repeat: no-repeat;
      // transform: rotate(15deg);
    }

    &:hover, &:focus-visible {
      opacity: $hover-opacity;
    }
  }

  &__tel-note {
    color: #555;
    font-size: 1.4rem;
    letter-spacing: 0.03em;
    white-space: nowrap;
  }
}

// ハンバーガーメニュー
.c-hamburger-btn {
  display: none;
  touch-action: manipulation;
  @include mq(header) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 3px;
    background-color: $main-color;
    z-index: 20;
    &:focus-visible {
      outline: 2px solid #333;
    }
  }

  button {
    touch-action: manipulation;
  }

  &__text {
    color: #fff;
    font-family: $second-font-family;
    font-size: 1.1rem;
    line-height: 1;
    text-align: center;
  }

  &__inner {
    display: block;
    position: relative;
    width: 25px;
    height: 14px;
  }

  &__line {
    display: block;
    position: absolute;
    right: 0;
    width: 100%;
    transition: .2s;
    transform: translateY(0) rotate(0);

    &::before {
      content: "";
      display: block;
      height: 1px;
      background-color: #fff;
      border-radius: 20px;
    }

    &:nth-of-type(1){
      top: 0;
    }

    &:nth-of-type(2){
      top: calc(50% - 1px);
      right: 0;
    }
    &:nth-of-type(3){
      bottom: 0;
    }
  }
}

// ハンバーガーメニュー内ナビ
.p-sub-nav {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s;
  margin-top: 92px;
  @include mq(header) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 92px);
    overflow-y: auto;
    background-color: #fff;
    transition: 0.15s;
    z-index: 30;
    @include mq(md) {
      height: calc(100vh - 70px);
      margin-top: 70px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    padding-top: 20px;
    padding-bottom: 25px;
    z-index: 30;
  }

  &__item {
    border-bottom: 1px solid #ddd;
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    width: 100%;
    font-weight: $medium;
    letter-spacing: 0.03em;
    text-align: left;
    padding: 20px 0;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      flex-shrink: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $accent-color;
    }

    &::after {
      content: '＋';
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      font-size: 1.8rem;
      font-weight: $regular;
    }

    &.is-open {
      &::after {
        content: 'ー';
      }
    }
  }

  &__body {
    display: none;
  }

  &__sub-link {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    font-size: 1.5rem;
    letter-spacing: 0.03em;
    padding: 16px 20px 16px 18px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 7px;
      height: 13px;
      background-color: $color-black01;
      mask: url(../img/icon/icon_right.svg) no-repeat center/cover;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__tag {
    flex-shrink: 0;
    background-color: $accent-color;
    font-size: 1.3rem;
    font-weight: $bold;
    letter-spacing: 0.03em;
    padding: 4px 8px;
  }

  &__cta {
    margin-top: auto;
    padding-top: 40px;

    .p-sub-nav__btn {
      max-width: 100%;

      &::before {
        width: 21px;
        height: 21px;
      }
    }
  }

  &__tel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin-top: 16px;
  }

  &__tel-link {
    display: flex;
    align-items: center;
    gap: 1px;
    font-family: $second-font-family;
    font-size: 2.4rem;
    font-weight: $bold;
    letter-spacing: 0.03em;
    white-space: nowrap;

    &::before {
      content: '';
      display: block;
      flex-shrink: 0;
      width: 17px;
      height: 17px;
      background-color: $color-black01;
      mask: url(../img/icon/icon_phone.svg) no-repeat center/cover;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__tel-note {
    color: #555;
    font-size: 1.4rem;
    letter-spacing: 0.03em;
    white-space: nowrap;
  }
}

.l-header.active {
  background-color: #fff;

  .c-hamburger-btn__line {
    &:nth-of-type(1) {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
    &:nth-of-type(2) {
      width: 0;
      transition: .01s;
    }
    &:nth-of-type(3) {
      width: 100%;
      bottom: 50%;
      transform: translateY(50%) rotate(-45deg);
    }
  }

  .p-sub-nav {
    @include mq(header) {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transition: 0.15s;  
    }
  }
}