@use "../../../global/index" as *;

/* -------------------------------------
        p-top-menu
-----------------------------------------*/
.p-top-menu {

  &__content {
    border-radius: 8px;
    background-color: #fff;
    padding: 120px 50px;
    @include mq(md) {
      border-radius: 0;
      padding: 50px 20px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
    margin-top: 40px;
    @include mq(md) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px 12px;
      margin-top: 30px;
    }
  }

  &__btn {
    margin: 50px auto 0;
    @include mq(md) {
      margin-top: 20px;
    }
  }
}
