// 透過度
$opacity: 0.6;
$hover-opacity: 0.7;

//汎用色
$color-black01: #333;
$color-black02: #222;

$main-color: #1F3A5F;
$second-color: rgba(#1F3A5F, 0.15);

$main-bg: #F7F4EF;

$accent-color: #FFFACC;



/* FontFamily */
$base-font-family: 'Notosans_subset', sans-serif;
$second-font-family: 'Roboto', sans-serif;
$third-font-family: "din-2014", sans-serif;


/* font-weight */
$thin: 200;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

body {
  font-family: $base-font-family;
  font-weight: $regular;
  color: $color-black01;
}